build/

requirements/win64/*
!requirements/win64/dependencies.txt
!requirements/win64/steam_api64.dll
!requirements/win64/luasteam.dll
!requirements/win64/discord-rpc.dll
!requirements/win64/https.dll
!requirements/win64/avcodec-60.dll
!requirements/win64/avdevice-60.dll
!requirements/win64/avfilter-07.dll
!requirements/win64/avformat-60.dll
!requirements/win64/avutil-58.dll
!requirements/win64/postproc-57.dll
!requirements/win64/swresample-4.dll
!requirements/win64/swscale-7.dll
!requirements/win64/video.dll
!requirements/win64/cimgui.dll

requirements/win32/*
!requirements/win32/dependencies.txt
!requirements/win32/steam_api.dll
!requirements/win32/luasteam.dll
!requirements/win32/discord-rpc.dll
!requirements/win32/https.dll

requirements/macos/*
!requirements/macos/dependencies.txt
!requirements/macos/libsteam_api.dylib
!requirements/macos/luasteam.so
!requirements/macos/libdiscord-rpc.dylib
!requirements/macos/https.so

requirements/switch/*
!requirements/switch/dependencies.txt

requirements/appimage/*
!requirements/appimage/dependencies.txt

.env
Keys.lua

tools/QuaToRitc/*
!tools/QuaToRitc/Convert.py

src/TODO.txt

# Temp files from krita or other stuff
*.png~