*.qua
*.mp3
*.ogg
*.sm
*.osu
*.qp
*.osz
/test/
/build/
resources/*

!resources/win32/download.txt
!resources/win64/download.txt
!resources/osx/download.txt

!resources/win32/discord-rpc.dll
!resources/win64/discord-rpc.dll
!resources/osx/discord-rpc.dylib